<h1>My best Cocktails ever</h1>
<% @cocktails.each do |cocktail| %>
  <ul>
    <li>
      <%= link_to(cocktail) do %>
        <%= cocktail.name %>
      <% end %>
    </li>
  </ul>
<% end %>

<p><%= link_to "Add a cocktail", new_cocktail_path %></p>
